extends layout

block vars
    - let title = '火星人科技'

block content
    // 幻灯片
    .banner.banner_s
        img(src='/public/images/cases/banner_b.jpg')
    // 幻灯片
    .space_hx  
    .scd.scd_a.clearfix
        .scd_l
            .name 项目案例
            ul.s_nav
                li
                    a(href='javascript:;')  - 某某案例
                li
                    a(href='javascript:;')  - 某某案例
                li
                    a(href='javascript:;')  - 某某案例
        .scd_r
            .case
                dl.clearfix
                    dt
                        a(href='javascript:;')
                            img(src='/public/images/cases/pic6.jpg')
                    dd
                        .title
                            a(href='javascript:;') 北方某城市三维航摄影像制作项目
                        .des
                            | 现代城市规划建设日趋精细化，大城市人口密集、地物复杂，地面测绘、布设控制点纷繁复杂，RTK无人机在相关项目中大显身手。2015年安行科技受北方某大城市经济技术开发区...
                        .more
                            a(href='javascript:;') 点击详细>>
                dl.clearfix
                    dt
                        a(href='javascript:;')
                            img(src='/public/images/cases/pic6.jpg')
                    dd
                        .title
                            a(href='javascript:;') 北方某城市三维航摄影像制作项目
                        .des
                            | 现代城市规划建设日趋精细化，大城市人口密集、地物复杂，地面测绘、布设控制点纷繁复杂，RTK无人机在相关项目中大显身手。2015年安行科技受北方某大城市经济技术开发区...
                        .more
                            a(href='javascript:;') 点击详细>>
                dl.clearfix
                    dt
                        a(href='javascript:;')
                            img(src='/public/images/cases/pic6.jpg')
                    dd
                        .title
                            a(href='javascript:;') 北方某城市三维航摄影像制作项目
                        .des
                            | 现代城市规划建设日趋精细化，大城市人口密集、地物复杂，地面测绘、布设控制点纷繁复杂，RTK无人机在相关项目中大显身手。2015年安行科技受北方某大城市经济技术开发区...
                        .more
                            a(href='javascript:;') 点击详细>>
                dl.clearfix
                    dt
                        a(href='javascript:;')
                            img(src='/public/images/cases/pic6.jpg')
                    dd
                        .title
                            a(href='javascript:;') 北方某城市三维航摄影像制作项目
                        .des
                            | 现代城市规划建设日趋精细化，大城市人口密集、地物复杂，地面测绘、布设控制点纷繁复杂，RTK无人机在相关项目中大显身手。2015年安行科技受北方某大城市经济技术开发区...
                        .more
                            a(href='javascript:;') 点击详细>>
                dl.clearfix
                    dt
                        a(href='javascript:;')
                            img(src='/public/images/cases/pic6.jpg')
                    dd
                        .title
                            a(href='javascript:;') 北方某城市三维航摄影像制作项目
                        .des
                            | 现代城市规划建设日趋精细化，大城市人口密集、地物复杂，地面测绘、布设控制点纷繁复杂，RTK无人机在相关项目中大显身手。2015年安行科技受北方某大城市经济技术开发区...
                        .more
                            a(href='javascript:;') 点击详细>>
                .space_hx  
                .pages
                    a(href='javascript:;') 首页
                    a(href='javascript:;') 上一页
                    a.now(href='javascript:;') 1
                    a(href='javascript:;') 2
                    a(href='javascript:;') 3
                    a(href='javascript:;') 4
                    a(href='javascript:;') 5
                    a(href='javascript:;') 6
                    a(href='javascript:;') 7
                    a(href='javascript:;') 8
                    a(href='javascript:;') 9
                    a(href='javascript:;') 10
                    a(href='javascript:;') …
                    a(href='javascript:;') 下一页
                    a(href='javascript:;') 尾页
    .space_hx  