extends layout

block vars
    - let title = '火星人科技'

block content
    // 幻灯片
    .banner.banner_s
        img(src='/public/images/contact/banner_a.jpg')
    // 幻灯片
    .space_hx  
    .scd.scd_a.clearfix
        dl.contact.clearfix
            dt
                img(src='/public/images/contact/pic8.jpg')
            dd
                .c_logo
                    img(src='/public/images/contact/logo1.png')
                h6 Shenzhen angyo Flight Control Technology Co. Ltd.
                .c_m
                    p
                        img(src='/public/images/contact/icon10.jpg')
                        span 电话：0771-3216270
                    p
                        img(src='/public/images/contact/icon11.jpg')
                        span 传真：0771-3216270
                    p
                        img(src='/public/images/contact/icon12.jpg')
                        span 邮箱：dc@mars-it.net.
                    p
                        img(src='/public/images/contact/icon13.jpg')
                        span 地址：广西南宁市科园大道科园东5路南宁软件园一楼
    .space_hx  
