extends layout

block vars
    - let title = '火星人科技'

block content
    // 幻灯片
    .banner.banner_s
        img(src='/public/images/join/banner_c.jpg')
    // 幻灯片
    .space_hx  
    .scd.clearfix
        .join
            img(src='/public/images/join/pic9.jpg', width='565', height='275')
    .space_hx  
