extends layout

block vars
    - let title = '火星人科技'

block content

    .banner.banner_s
        img(src='/public/images/product/banner_b.jpg')

    .space_hx  
    .scd.scd_a.clearfix
        .pro
            dl.clearfix
                dt
                    a(href='javascript:;')
                        img(src='/public/images/product/pic7.jpg')
                dd
                    .name
                        a(href='javascript:;') 无人机型号：虎蝠
                    .des 替代传统的地面控制点技术，安行无人机通过整合RTK定位技术和精密测时技术来确定每一张航拍相片的精确位置。
                    .more
                        a(href='javascript:;') 查看详情
                    .time
                        span 2015/12/10
            dl.clearfix
                dt
                    a(href='javascript:;')
                        img(src='/public/images/product/pic7.jpg')
                dd
                    .name
                        a(href='javascript:;') 无人机型号：虎蝠
                    .des 替代传统的地面控制点技术，安行无人机通过整合RTK定位技术和精密测时技术来确定每一张航拍相片的精确位置。
                    .more
                        a(href='javascript:;') 查看详情
                    .time
                        span 2015/12/10
    .space_hx  
