.bg_a
    ul.f_nav.clearfix
        li
            .name
                b 技术支持
            p
                a(href='javascript:;') 常见问题
            p
                a(href='javascript:;') 售后&维修
            p
                a(href='javascript:;') 下载
        li
            .name
                b 关于火星人科技
            p
                a(href='javascript:;') 了解火星人科技
            p
                a(href='javascript:;') 加入我们
            p
                a(href='javascript:;') 联系我们
        li.f_ct
            .name
                b
                    | 联系方式
                    i  
            p
                a(href='mailto:dc@mars-it.net.')
                    img(src='/public/images/footer/icon6.png')
                    span 邮箱:dc@mars-it.net.
            p
                a(href='tel:86008512')
                    img(src='/public/images/footer/icon5.png')
                    span 电话:0771-3216270
            p.share
                a(href='javascript:;')
                    img(src='/public/images/footer/qq.on.png')
                a(href='javascript:;')
                    img(src='/public/images/footer/wechat.on.png')
                a(href='javascript:;')
                    img(src='/public/images/footer/weibo.on.png')
        li.dz
            .name
                b 我们的地址
            p
                | 广西南宁市火星人信息科技有限公司
                br
                | Shenzhen angyo Flight Control Technology Co. Ltd.
            p 广西南宁市科园大道科园东5路南宁软件园一楼
            p
                | TEL：0771-3216270
                a.map(href='javascript:;') 网站地图
            .f_s
                input( type='text')
                input( type='submit', value='搜索')
.f_bg
    .bq.clearfix
        .bq_l
            a(href='javascript:;') 法律申明
            |  
            a(href='javascript:;') 隐私保护
            |  
            a(href='javascript:;') 联系我们
        .bq_r ©版权所有INFINOVA 桂ICP备15003644号-2 
